<!DOCTYPE html>
<html>

	<head>
		<title></title>
		<meta charset="utf-8">
		<meta content="IE=dege,chrom=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
		<title>天昊健康</title>
		<link href="static/BootStrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/base.css" rel="stylesheet">
		<link href="css/checkout.css" rel="stylesheet">
		<link href="css/modal.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<style type="text/css">
			.nav-hd table td {
				vertical-align: top;
				padding: 0 15px;
				text-align: center;
				border: none;}
			.nav-hd tr{
				border: none;}
		</style>
	</head>

	<body ng-app="addr" ng-controller="addr-control">
		<div class="homePage">
			<!--导航条-->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
						<a class="navbar-brand" href="homePage.html">公司首页</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="nav-item">
								<a href="#">关于天昊</a>
								<div class="nav-hd">
									<table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/about-1.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">天昊简介</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#">
															<img src="static/img/about-2.jpg" alt="">
														</a>
													</div>
													<p>
														<a href="#">天昊荣誉</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/about-3.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">联系我们</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/about-4.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">公司新闻</a>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</li>
							<li class="nav-item">
								<a href="shopping.html">在线购买</a>
								<div class="nav-hd">
									<table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/product-1.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">孕前基因筛查</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/product-2.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">孕前地中海贫血基因筛查</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/product-3.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">新生儿基因筛查</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/product-4.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">新生儿耳聋基因筛查</a>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</li>
							<li class="nav-item">
								<a href="#">联系我们</a>
							</li>
							<li class="nav-item">
								<a href="#">加入我们</a>
								<div class="nav-hd">
									<table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/join-1.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">人才发展</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/join-2.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">校园招聘</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/join-3.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">社会招聘</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/join-4.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">天昊生活</a>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</li>
							<li>
								<div class="form-group">
									<label class="sr-only">搜索:</label>
									<!--<input type="search" class="form-control" name="name" placeholder="输入关键字">-->
									<div class="input-group">
										<input type="search" class="form-control" name="name" placeholder="输入关键字" aria-hidden="true">
										<span class="glyphicon glyphicon-search"></span>
									</div>
								</div>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="login.html"><span class="glyphicon glyphicon-user"></span> 登录</a>
							</li>
							<li>
								<a href="register.html">注册</a>
							</li>
							<li>
								<a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车</a>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
				<!--/.container-fluid -->
			</nav>
			<!-- process step -->
			<div class="check-step">
				<ul>
					<li ng-class=" step1Cur == 1 ? 'cur' : '' ">确认个人信息</li>
					<li ng-class=" step2Cur == 1 ? 'cur' : '' ">选择支付方式</li>
					<li ng-class=" step3Cur == 1 ? 'cur' : '' ">订单确认</li>
				</ul>
			</div>
			<!--确认个人信息-->
			<form class="addr_accountInfo" name="accountInfo" ng-show="step1Cur==1">
				<ul>
					<li class="addr_item">
						<label class="addr_label">收货人姓名：</label>
						<input type="text" name="trueName" ng-model="trueName" required ng-pattern="/^\w{2,6}$/" />
						<span class="addr_accountInfo_err" ng-show="accountInfo.trueName.$dirty && accountInfo.trueName.$invalid">
								请输入2到6位的收货人姓名
							</span>
					</li>
					<li class="addr_item">
						<label class="addr_label">电话号码：</label>
						<input type="text" name="mobile" ng-model="mobile" required ng-pattern="/^[0-9]{11}$/" />
						<span class="addr_accountInfo_err" ng-show="accountInfo.mobile.$dirty && accountInfo.mobile.$invalid">
								请输入11位的电话号码
							</span>
					</li>
					<li class="addr_item">
						<label class="addr_label">QQ：</label>
						<input type="text" name="QQ" ng-model="QQ" required ng-pattern="/^[0-9]{5,11}$/" />
						<span class="addr_accountInfo_err" ng-show="accountInfo.QQ.$dirty && accountInfo.QQ.$invalid">
								请输入5到11位的QQ号码
							</span>
					</li>
					<li class="addr_item">
						<label class="addr_label">收货地址：</label>
						<input type="text" name="address" ng-model="address" required/>
						<span class="addr_accountInfo_err" ng-show="accountInfo.address.$dirty && accountInfo.address.$invalid">
								请输入正确的收货地址
							</span>
					</li>
					<li class="addr_item">
						<p ng-show="!needInvoice">
							<input type="checkbox" ng-model="needInvoice" />需要发票
						</p>
						<p ng-show="needInvoice">
							<label class="addr_label">发票抬头：</label>
							<input type="text" name="invoiceTitle" ng-model="invoiceTitle" />
						</p>
					</li>
				</ul>
				<div class="addr_confirm">
					<button class="addr_btn" ng-click="confirmStep1()">确认个人信息</button>
				</div>
			</form>
			<!--选择支付方式-->
			<div ng-show="step2Cur==1" class="addr_payment">
				<div class="addr_payment_sel">
					<b class="addr_payment_b" ng-class=" paymentType==1 ? 'selected' : '' " ng-click="changePaymentType(1)">网银支付</b>
					<b class="addr_payment_b" ng-class=" paymentType==2 ? 'selected' : '' " ng-click="changePaymentType(2)">支付平台</b>
				</div>
	
				<table class="addr_payment_tab" style="margin: 10px auto;">
					<thead>
						<tr>
							<th>选中</th>
							<th>ID</th>
							<th>名称</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in paymentList | filter : filterByType">
							<td>
								<input type="checkbox" ng-model="p.selected" />
							</td>
							<td>{{p.ID}}</td>
							<td>{{p.Title}}</td>
						</tr>
					</tbody>
				</table>
				<div class="addr_confirm">
					<button class="addr_btn" ng-click="confirmStep2()">确认支付方式</button>
				</div>
			</div>
			<!--确认订单-->
			<div class="confirm_order" ng-show="step1Cur==0 && step2Cur==0">
			<div class="confirm_item">
				<table>
					<thead>
						<tr>
							<th>订单编号</th>
							<th>商品名称</th>
							<th>商品图片</th>
							<th>单价</th>
							<th>购买数量</th>
							<th>总价</th>
							<th>下单时间</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat=" product in productList ">
							<td>{{product.orderId}}</td>
							<td>{{product.productName}}</td>
							<td><img ng-src={{product.logo}} class="logo" /></td>
							<td>{{product.productPrice}}</td>
							<td>{{product.buyAmount}}</td>
							<td>{{product.totalMoney}}</td>
							<td>{{product.createTime}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="confirm_item" style="margin-left: 44px;">
				<ul>
					<li class="addr_item">姓名：{{trueName}}</li>
					<li class="addr_item">电话：{{mobile}}</li>
					<li class="addr_item">QQ号码：{{QQ}}</li>
					<li class="addr_item">地址：{{address}}</li>
					<li class="addr_item" ng-show="needInvoice">抬头发票：{{invoiceTitle}}</li>
				</ul>
			</div>
			<div class="confirm_item" style="margin-left: 44px;">
				<b>支付方式：{{selectPayment.Title}}</b>
			</div>
			<div class="addr_confirm">
				<button class="addr_btn" ng-click="checkOut()">确认订单</button>
			</div>
		</div>
			<!--底部信息-->
			<div class="footer clear">
				<div class="footer-content container clear">
					<div class="fl cont-list">
						<ul>
							<h3>关于我们</h3>
							<li>
								<a href="#">平台简介</a>
							</li>
							<li>
								<a href="#">荣誉资质</a>
							</li>
							<li>
								<a href="#">联系方式</a>
							</li>
							<li>
								<a href="#">加入我们</a>
							</li>
							<li>
								<a href="#">社会公益</a>
							</li>
							<li>
								<a href="#">在线交流</a>
							</li>
						</ul>
						<ul>
							<h3>遗传咨询</h3>
							<li>
								<a href="#">专家团队</a>
							</li>
							<li>
								<a href="#">咨询网点</a>
							</li>
							<li>
								<a href="#">基因百科</a>
							</li>
							<li>
								<a href="#">用户案例</a>
							</li>
							<li>
								<a href="#">检测流程</a>
							</li>
						</ul>
						<ul>
							<h3>会员专区</h3>
							<li>
								<a href="#">加入会员</a>
							</li>
							<li>
								<a href="#">检测激活</a>
							</li>
							<li>
								<a href="#">查询下载</a>
							</li>
						</ul>
						<ul>
							<h3>新闻资讯</h3>
							<li>
								<a href="#">活动公告</a>
							</li>
							<li>
								<a href="#">公司新闻</a>
							</li>
							<li>
								<a href="#">行业资讯</a>
							</li>
						</ul>
					</div>
					<div class="fr cont-contact">
						<div class="fl"><img src="static/img/wx.jpg" alt="">
							<p class="wx-name">天昊健康微信</p>
						</div>
						<div class="fr">
							<div class="logo">
								<a href="#"><img src="static/img/logo.jpg" alt=""></a>
							</div>
							<ul class="contact">
								<li class="email">邮箱：
									<a title="发送邮件" href="mailto:service.health@geneskies.com">service.health@geneskies.com</a>
								</li>
								<li class="web">网址：www.healtha.com</li>
								<li class="fax">传真：+86-021-59802095</li>
								<li class="tel">服务热线：<span class="num">400-011-8966</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--网页浮动-->
			<div class="float-sild">
				<a href="tel:12345678" class="tel"></a>
				<a href="#" class="go-top"></a>
			</div>	
		</div>	
	</body>	
	<script src="static/BootStrap/assets/js/ie-emulation-modes-warning.js"></script>
	<script>
		window.jQuery || document.write('<script src="static/BootStrap/assets/js/vendor/jquery.min.js"><\/script>')
	</script>
	<script src="static/BootStrap/js/bootstrap.min.js"></script>
	<script src="static/BootStrap/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
	<script src="js/address.js"></script>
</html>