<!DOCTYPE html>
<html>

	<head>
		<title></title>
		<meta charset="utf-8">
		<meta content="IE=dege,chrom=1" http-equiv="X-UA-Compatible">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
		<title>天昊健康</title>
		<link href="static/BootStrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/BootStrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="css/base.css" rel="stylesheet">
		<link href="css/checkout.css" rel="stylesheet">
		<link href="css/modal.css" rel="stylesheet">
		<link rel="stylesheet" href="css/common.css" />
		<style type="text/css">
			.quantity input {
				width: 40px;
				padding: 5px 10px;
				text-align: center;
			}
			
			.nav-hd table td {
				vertical-align: top;
				padding: 0 15px;
				text-align: center;
			}
			
			tr,
			td {
				border: none;
			}
		</style>
	</head>

	<body>
		<div class="homePage ">
			<!--导航条-->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
						<a class="navbar-brand" href="homePage.html">公司首页</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="nav-item">
								<a href="#">关于天昊</a>
								<div class="nav-hd">
									<table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/about-1.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">天昊简介</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#">
															<img src="static/img/about-2.jpg" alt="">
														</a>
													</div>
													<p>
														<a href="#">天昊荣誉</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/about-3.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">联系我们</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/about-4.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">公司新闻</a>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</li>
							<li class="nav-item">
								<a href="shopping.html">在线购买</a>
								<div class="nav-hd">
									<table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/product-1.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">孕前基因筛查</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/product-2.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">孕前地中海贫血基因筛查</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/product-3.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">新生儿基因筛查</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/product-4.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">新生儿耳聋基因筛查</a>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</li>
							<li class="nav-item">
								<a href="#">联系我们</a>
							</li>
							<li class="nav-item">
								<a href="#">加入我们</a>
								<div class="nav-hd">
									<table border="0" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/join-1.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">人才发展</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/join-2.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">校园招聘</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/join-3.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">社会招聘</a>
													</p>
												</td>
												<td>
													<div class="pic">
														<a href="#"><img src="static/img/join-4.jpg" alt=""></a>
													</div>
													<p>
														<a href="#">天昊生活</a>
													</p>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</li>
							<li>
								<div class="form-group">
									<label class="sr-only">搜索:</label>
									<!--<input type="search" class="form-control" name="name" placeholder="输入关键字">-->
									<div class="input-group">
										<input type="search" class="form-control" name="name" placeholder="输入关键字" aria-hidden="true">
										<span class="glyphicon glyphicon-search"></span>
									</div>
								</div>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="login.html"><span class="glyphicon glyphicon-user"></span> 登录</a>
							</li>
							<li>
								<a href="register.html">注册</a>
							</li>
							<li>
								<a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车</a>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
				<!--/.container-fluid -->
			</nav>
			<!--购物车框架-->
			<div class="checkout">
				<div id="app">
					<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<defs>
							<symbol id="icon-add" viewBox="0 0 32 32">
								<title>add2</title>
								<path class="path1" d="M15 17h-13.664c-0.554 0-1.002-0.446-1.002-1 0-0.552 0.452-1 1.002-1h13.664v-13.664c0-0.554 0.446-1.002 1-1.002 0.552 0 1 0.452 1 1.002v13.664h13.664c0.554 0 1.002 0.446 1.002 1 0 0.552-0.452 1-1.002 1h-13.664v13.664c0 0.554-0.446 1.002-1 1.002-0.552 0-1-0.452-1-1.002v-13.664z"></path>
							</symbol>
							<symbol id="icon-ok" viewBox="0 0 39 32">
								<title>ok</title>
								<path class="path1" d="M14.084 20.656l-7.845-9.282c-1.288-1.482-3.534-1.639-5.016-0.351s-1.639 3.534-0.351 5.016l10.697 12.306c1.451 1.669 4.057 1.623 5.448-0.096l18.168-22.456c1.235-1.527 0.999-3.765-0.528-5.001s-3.765-0.999-5.001 0.528l-15.573 19.337z"></path>
							</symbol>
							<symbol id="icon-edit" viewBox="0 0 32 32">
								<title>edit</title>
								<path class="path1" d="M25.599 11.292l-4.892-4.892 3.825-3.825 4.892 4.892-3.825 3.825zM4.732 23.308l3.959 3.959-5.939 1.98 1.98-5.939zM10.666 26.225l-4.892-4.892 13.425-13.425 4.892 4.892-13.425 13.425zM31.687 6.713l-6.4-6.4c-0.417-0.417-1.091-0.417-1.508 0l-20.267 20.267c-0.114 0.115-0.191 0.25-0.242 0.393-0.003 0.009-0.012 0.015-0.015 0.025l-3.2 9.6c-0.128 0.383-0.029 0.806 0.257 1.091 0.203 0.204 0.476 0.313 0.754 0.313 0.112 0 0.227-0.017 0.337-0.054l9.6-3.2c0.011-0.003 0.017-0.013 0.027-0.016 0.142-0.052 0.276-0.128 0.39-0.242l20.267-20.267c0.417-0.416 0.417-1.091 0-1.508v0z"></path>
							</symbol>
							<symbol id="icon-del" viewBox="0 0 26 32">
								<title>delete</title>
								<path class="path1" d="M17.723 28c0.543 0 0.984-0.448 0.984-1v-12c0-0.552-0.441-1-0.984-1s-0.985 0.448-0.985 1v12c0 0.552 0.441 1 0.985 1v0zM7.877 28c0.543 0 0.984-0.448 0.984-1v-12c0-0.552-0.441-1-0.984-1s-0.985 0.448-0.985 1v12c0 0.552 0.441 1 0.985 1v0zM12.8 28c0.543 0 0.985-0.448 0.985-1v-12c0-0.552-0.441-1-0.985-1s-0.984 0.448-0.984 1v12c0 0.552 0.441 1 0.984 1v0zM23.631 4h-5.908v-2c0-1.104-0.882-2-1.969-2h-5.908c-1.087 0-1.969 0.896-1.969 2v2h-5.908c-1.087 0-1.969 0.896-1.969 2v2c0 1.104 0.882 2 1.969 2v18c0 2.208 1.765 4 3.939 4h13.784c2.174 0 3.938-1.792 3.938-4v-18c1.087 0 1.969-0.896 1.969-2v-2c0-1.104-0.882-2-1.969-2v0zM9.846 3c0-0.552 0.441-1 0.984-1h3.938c0.544 0 0.985 0.448 0.985 1v1h-5.908v-1zM21.662 28c0 1.104-0.882 2-1.969 2h-13.784c-1.087 0-1.97-0.896-1.97-2v-18h17.723v18zM22.646 8h-19.692c-0.543 0-0.985-0.448-0.985-1s0.441-1 0.985-1h19.692c0.543 0 0.984 0.448 0.984 1s-0.441 1-0.984 1v0z"></path>
							</symbol>
							<symbol id="icon-clock" viewBox="0 0 32 32">
								<title>clock</title>
								<path class="path1" d="M29.333 16c0-7.364-5.97-13.333-13.333-13.333s-13.333 5.97-13.333 13.333c0 7.364 5.97 13.333 13.333 13.333s13.333-5.97 13.333-13.333v0 0 0 0 0 0zM0 16c0-8.837 7.163-16 16-16s16 7.163 16 16c0 8.837-7.163 16-16 16s-16-7.163-16-16zM14.667 14.667v1.333h2.667v-10.667h-2.667v9.333zM24 18.667h1.333v-2.667h-10.667v2.667h9.333z"></path>
							</symbol>
						</defs>
					</svg>
					<div class="container">
						<div class="cart">
							<div class="checkout-title">
								<span>购物车</span>
							</div>
							<!-- table -->
							<div class="item-list-wrap">
								<div class="cart-item">
									<div class="cart-item-head">
										<ul>
											<li>商品信息</li>
											<li>商品金额</li>
											<li>商品数量</li>
											<li>总金额</li>
											<li>编辑</li>
										</ul>
									</div>
									<ul class="cart-item-list">
										<li v-for="item in productList">
											<div class="cart-tab-1">
												<div class="cart-item-check">
													<a href="javascript:void 0" class="item-check-btn" v-bind:class="{'check':item.checked}" @click="selectedProduct(item)">
														<svg class="icon icon-ok">
															<use xlink:href="#icon-ok"></use>
														</svg>
													</a>
												</div>
												<div class="cart-item-pic">
													<img v-bind:src="item.productImage" alt="烟">
												</div>
												<div class="cart-item-title">
													<div class="item-name">{{ item.productName }}</div>
												</div>
												<div class="item-include">
													<dl>
														<dt>赠送:</dt>
														<dd v-for="part in item.parts" v-text="part.partsName"></dd>
													</dl>
												</div>
											</div>
											<div class="cart-tab-2">
												<div class="item-price">{{ item.productPrice | money('元')}}</div>
											</div>
											<div class="cart-tab-3">
												<div class="item-quantity">
													<div class="select-self select-self-open">
														<div class="quantity">
															<a href="javascript:;" @click="changeMoney(item,-1)">-</a>
															<input type="text" :value="item.productQuantity" disabled>
															<a href="javascript:;" @click="changeMoney(item,1)">+</a>
														</div>
													</div>
													<div class="item-stock">有货</div>
												</div>
											</div>
											<div class="cart-tab-4">
												<div class="item-price-total">{{ item.productPrice*item.productQuantity | money('元')}}</div>
											</div>
											<div class="cart-tab-5">
												<div class="cart-item-operation">
													<a href="javascript:void 0" class="item-edit-btn" @click="delConfirm(item)">
														<svg class="icon icon-del">
															<use xlink:href="#icon-del"></use>
														</svg>
													</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<!--<cart-footer>-->
							<div class="cart-foot-wrap">
								<div class="cart-foot-l">
									<div class="item-all-check" v-show="!checkAllFlag">
										<a href="javascript:void 0">
											<span class="item-check-btn" @click="checkAll(true)">
		                      <svg class="icon icon-ok"><use xlink:href="#icon-ok"></use></svg>
		                    </span>
											<span>全选</span>
										</a>
									</div>
									<div class="item-all-del" v-show="checkAllFlag">
										<a href="javascript:void 0" class="item-del-btn">
											<span class="item-check-btn" :class="{'check':checkAllFlag}" @click="checkAll(false)">
		                      <svg class="icon icon-ok"><use xlink:href="#icon-ok"></use></svg>
		                    </span>
											<span>取消全选</span>
										</a>
									</div>
								</div>
								<div class="cart-foot-r">
									<div class="item-total">
										总金额: <span class="total-price">{{totalMoney | money('元')}}</span>
									</div>
									<div class="next-btn-wrap">
										<a href="address.html" class="btn btn--red" style="width: 100px">去结算</a>
									</div>
									<div class="next-btn-wrap">
										<a href="address.html" class="btn btn--blue" style="width: 100px">继续购物</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="md-modal modal-msg md-modal-transition" id="showModal" v-bind:class="{'md-show':delFlag}">
						<div class="md-modal-inner">
							<div class="md-top">
								<button class="md-close" @click="delFlag = false">关闭</button>
							</div>
							<div class="md-content">
								<div class="confirm-tips">
									<p id="cusLanInfo">你确认删除此订单信息吗?</p>
								</div>
								<div class="btn-wrap col-2">
									<button class="btn btn--m" id="btnModalConfirm" @click="delProduct">Yes</button>
									<button class="btn btn--m btn--red" id="btnModalCancel" @click="delFlag=false">>No</button>
								</div>
							</div>
						</div>
					</div>

					<div class="md-overlay" v-if="delFlag" @click="delFlag=false"></div>

				</div>
			</div>
			<!--底部内容-->
			<div class="footer clear">
				<div class="footer-content container clear">
					<div class="fl cont-list">
						<ul>
							<h3>关于我们</h3>
							<li>
								<a href="#">平台简介</a>
							</li>
							<li>
								<a href="#">荣誉资质</a>
							</li>
							<li>
								<a href="#">联系方式</a>
							</li>
							<li>
								<a href="#">加入我们</a>
							</li>
							<li>
								<a href="#">社会公益</a>
							</li>
							<li>
								<a href="#">在线交流</a>
							</li>
						</ul>
						<ul>
							<h3>遗传咨询</h3>
							<li>
								<a href="#">专家团队</a>
							</li>
							<li>
								<a href="#">咨询网点</a>
							</li>
							<li>
								<a href="#">基因百科</a>
							</li>
							<li>
								<a href="#">用户案例</a>
							</li>
							<li>
								<a href="#">检测流程</a>
							</li>
						</ul>
						<ul>
							<h3>会员专区</h3>
							<li>
								<a href="#">加入会员</a>
							</li>
							<li>
								<a href="#">检测激活</a>
							</li>
							<li>
								<a href="#">查询下载</a>
							</li>
						</ul>
						<ul>
							<h3>新闻资讯</h3>
							<li>
								<a href="#">活动公告</a>
							</li>
							<li>
								<a href="#">公司新闻</a>
							</li>
							<li>
								<a href="#">行业资讯</a>
							</li>
						</ul>
					</div>
					<div class="fr cont-contact">
						<div class="fl"><img src="static/img/wx.jpg" alt="">
							<p class="wx-name">天昊健康微信</p>
						</div>
						<div class="fr">
							<div class="logo">
								<a href="#"><img src="static/img/logo.jpg" alt=""></a>
							</div>
							<ul class="contact">
								<li class="email">邮箱：
									<a title="发送邮件" href="mailto:service.health@geneskies.com">service.health@geneskies.com</a>
								</li>
								<li class="web">网址：www.healtha.com</li>
								<li class="fax">传真：+86-021-59802095</li>
								<li class="tel">服务热线：<span class="num">400-011-8966</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--浮动-->
			<div class="float-sild">
				<a href="tel:12345678" class="tel"></a>
				<a href="#" class="go-top"></a>
			</div>
		</div>
		<script src="static/BootStrap/assets/js/ie-emulation-modes-warning.js"></script>
		<script>
			window.jQuery || document.write('<script src="static/BootStrap/assets/js/vendor/jquery.min.js"><\/script>')
		</script>
		<script src="static/BootStrap/js/bootstrap.min.js"></script>
		<script src="static/BootStrap/assets/js/ie10-viewport-bug-workaround.js"></script>
		<script src="js/lib/vue.min.js"></script>
		<script src="js/lib/vue-resource.js"></script>
		<script src="js/cart.js"></script>
	</body>
</html>