<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="天昊健康 基因检测  孕前夫妇 重大遗传病  筛查   新生儿重大遗传缺陷筛查">
		<title>天昊健康</title>
		<!-- Bootstrap core CSS -->
	    <link href="static/BootStrap/css/bootstrap.min.css" rel="stylesheet">
	
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <link href="static/BootStrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	    <script src="static/BootStrap/assets/js/ie-emulation-modes-warning.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
    	<!--this is template's css-->
		<link rel="stylesheet" type="text/css" href="css/homePage.css"/>
	</head>
	<body>
		<div class="homePage ">
			<div class="attachedSearchContainer">
				<nav class="navbar navbar-default">
		        <div class="container-fluid">
		          <div id="navbar" class="navbar-collapse collapse">
		            <ul class="nav navbar-nav">
		              <li class="nav-item">
		              	<a href="#">Geneskies 天昊健康</a>
		              </li>
		              <li>
		              	<div class="form-group">
							<label class="sr-only">搜索:</label>
							<!--<input type="search" class="form-control" name="name" placeholder="输入关键字">-->
							<div class="input-group">
							  <input type="search" class="form-control" name="name" placeholder="输入关键字" aria-hidden="true">
							  <span class="glyphicon glyphicon-search"></span>
							</div>
						</div>
		              </li>
		            </ul>
		          </div><!--/.nav-collapse -->
		        </div><!--/.container-fluid -->
		      </nav>			
			</div>
			<nav class="navbar navbar-default">
		        <div class="container-fluid">
		          <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		              <!--<span class="sr-only">Toggle navigation</span>-->
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="#">公司首页</a>
		          </div>
		          <div id="navbar" class="navbar-collapse collapse">
		            <ul class="nav navbar-nav">
		              <li class="nav-item">
		              	<a href="#">关于天昊</a>
                          <div class="nav-hd">
                           		<table border="0" cellpadding="0" cellspacing="0">
                                         <tbody><tr>
                                             <td>
                                                 <div class="pic">
                                                     <a href="#"><img src="static/img/about-1.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">天昊简介</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                    <a href="#"><img src="static/img/about-2.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">天昊荣誉</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                     <a href="#"><img src="static/img/about-3.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">联系我们</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                         <a href="#"><img src="static/img/about-4.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">公司新闻</a></p>
                                             </td>
                                         </tr>
                                   </tbody>
                           		</table>
                               </div>   
		              </li>
		              <li class="nav-item">
		              	<a href="#">在线购买</a>
		              	<div class="nav-hd">
                           		<table border="0" cellpadding="0" cellspacing="0">
                                         <tbody><tr>
                                             <td>
                                                 <div class="pic">
                                                     <a href="#"><img src="static/img/product-1.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">孕前基因筛查</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                    <a href="#"><img src="static/img/product-2.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">孕前地中海贫血基因筛查</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                     <a href="#"><img src="static/img/product-3.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">新生儿基因筛查</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                         <a href="#"><img src="static/img/product-4.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">新生儿耳聋基因筛查</a></p>
                                             </td>
                                         </tr>
                                   </tbody>
                           		</table>
                               </div>  
		              	
		              </li>
		              <li class="nav-item"><a href="#">联系我们</a></li>
		              <li class="nav-item">
		              	<a href="#">加入我们</a>
		              	<div class="nav-hd">
                           		<table border="0" cellpadding="0" cellspacing="0">
                                         <tbody><tr>
                                             <td>
                                                 <div class="pic">
                                                     <a href="#"><img src="static/img/join-1.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">人才发展</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                    <a href="#"><img src="static/img/join-2.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">校园招聘</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                     <a href="#"><img src="static/img/join-3.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">社会招聘</a></p>
                                             </td>
                                             <td>
                                                 <div class="pic">
                                                         <a href="#"><img src="static/img/join-4.jpg" alt=""></a>
                                                 </div>
                                                 <p><a href="#">天昊生活</a></p>
                                             </td>
                                         </tr>
                                   </tbody>
                           		</table>
                               </div>
		              </li>
		              <li>
		              	<div class="form-group">
							<label class="sr-only">搜索:</label>
							<!--<input type="search" class="form-control" name="name" placeholder="输入关键字">-->
							<div class="input-group">
							  <input type="search" class="form-control" name="name" placeholder="输入关键字" aria-hidden="true">
							  <span class="glyphicon glyphicon-search"></span>
							</div>
						</div>
		              </li>
		            </ul>
		            <ul class="nav navbar-nav navbar-right">
		              <li><a href="./"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
		              <li><a href="#">注册</a></li>
		              <li><a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车</a></li>
		            </ul>
		          </div><!--/.nav-collapse -->
		        </div><!--/.container-fluid -->
		      </nav>
			<div class="flexSlider">
				<div class="container-fuild">
			      	    	
			      	<div data-ride="carousel" id="carousel_container" class="carousel slide">
					    <!--图片容器 -->
					    <div class="carousel-inner">
						    <div class="item"><img src="static/img/slider-1.jpg"/></div>
						    <div class="item active"><img src="static/img/slider-2.jpg"/></div>
						    <div class="item"><img src="static/img/slider-3.jpg"/></div>
						    <div class="item"><img src="static/img/slider-4.jpg"/></div>
						    <div class="item"><img src="static/img/slider-5.jpg"/></div>
						    <div class="item"><img src="static/img/slider-6.jpg"/></div>
						</div>
					      	  	
					    <!--小圆圈容器 -->
					    <ol class="carousel-indicators">
					      	<li data-slide-to="0" data-target="#carousel_container"></li>
					      	<li data-slide-to="1" data-target="#carousel_container"></li>
					      	<li data-slide-to="2" data-target="#carousel_container"></li>
					      	<li data-slide-to="3" data-target="#carousel_container"></li>
					      	<li data-slide-to="4" data-target="#carousel_container"></li>
					      	<li data-slide-to="5" data-target="#carousel_container"></li>
					      	<li data-slide-to="6" data-target="#carousel_container"></li>
					    </ol>
					    <!--左右按钮容器 -->
					    <a href="#carousel_container" data-slide="prev" class="left carousel-control">
					      	<span class="glyphicon glyphicon-chevron-left"></span>
					    </a>
					      	  	
					    <a href="#carousel_container" data-slide="next" class="right carousel-control">
					      	<span class="glyphicon glyphicon-chevron-right"></span>
					    </a>
			      	</div>
			    </div>
			</div>
			<!--</div>-->
			<div class="content">
				<!--最新的新闻公告-->
				<div class="latest_news">
					<!--<div class="forecast_logo"></div>-->
						<div class="news_list_ctn">
							<p class="lbt">最新通告</p>
							<ul class="news_list">
								<li class="news_item" style="margin-top: 0px;">
									<p>天昊基因与Thermo Fisher签署战略合作协议</p>
								</li>
								<li class="news_item">
									<p>天昊健康基因筛检免费推广活动结束公告</p>
								</li>
							</ul>
						</div>
				</div>
				<!--技术服务-->
				<div class="index-menu">
				 	<ul class="index-menu-wrap clear rel">
				 		<li id="index_1" class="abs" style="border-color: rgb(147, 196, 220); left: 0px; z-index: 1; background: rgb(225, 240, 245);">
		                 <a href="" class="abs more" style="background:#459ec3;">MORE</a>
		                 <a href="" class="clear link">
		                    <div class="pic fl" style="width: 148px;">
		                    	<div class="table">
		                    		<div class="tableCell">
		                    			<img src="static/img/menu-1.png" alt="">
		                    		</div>
		                    	</div>
		                    </div>
		                    <div class="info fl">
		                        <div class="table">
		                            <div class="tableCell">
		                                 <p style="color:#459ec3;">揭开基因组的奥秘</p>
		                                 <span style="color:#459ec3;">Uncover the secrets of genomes</span>
		                            </div>
		                        </div>
		                    </div>
		                 </a>
		             </li>
		               <li id="index_2" class="abs" style="border-color: rgb(227, 195, 183); left: 218px; z-index: 2; background: rgb(251, 231, 226);">
		                 <a href="" class="abs more" style="background:#da4c41;">MORE</a>
		                 <a href="" class="clear link">
		                        <div class="pic fl" style="width: 148px;">
		                        	<div class="table">
		                        		<div class="tableCell">
		                        			<img src="static/img/menu-2.png" alt="">
		                        		</div>
		                        	</div>
		                        </div>
		                        <div class="info fl">
		                            <div class="table">
		                                <div class="tableCell">
		                                     <p style="color:#da4c41;">基因的转录、表达&amp;调控</p>
		                                     <span style="color:#da4c41;">Genes transcription, expression &amp; regulation</span>
		                                </div>
		                            </div>
		                        </div>
		                 </a>
		             </li>
		             	<li id="index_3" class="abs" style="border-color: rgb(227, 195, 183); left: 436px; z-index: 3; background: rgb(251, 236, 207);">
		                 <a href="" class="abs more" style="background:#e78539;">MORE</a>
		                 <a href="" class="clear link">
		                        <div class="pic fl" style="width: 148px;">
		                        	<div class="table">
		                        		<div class="tableCell">
		                        			<img src="static/img/menu-3.png" alt="">
		                        		</div>
		                        	</div>
		                        </div>
		                        <div class="info fl">
		                            <div class="table">
		                                <div class="tableCell">
		                             <p style="color:#e78539;">研究微生物，理解大世界</p>
		                             <span style="color:#e78539;">Study microbiology, understand the world</span>
		                                </div>
		                            </div>
		                        </div>
		                 </a>
		             </li>
		             <li id="index_4" class="abs" style="border-color: rgb(189, 217, 188); left: 654px; z-index: 4; background: rgb(227, 240, 229);">
		                 <a href="" class="abs more" style="background:#239542;">MORE</a>
		                 <a href="" class="clear link">
		                        <div class="pic fl" style="width: 148px;">
		                        	<div class="table"><div class="tableCell">
		                        		<img src="static/img/menu-4.png" alt="">
		                        	</div>
		                        	</div>
		                        </div>
		                        <div class="info fl">
		                            <div class="table">
		                                <div class="tableCell">
		                             <p style="color:#239542;">解开中心法则终极奥秘</p>
		                             <span style="color:#239542;">unlock the ultimate mystery of life</span>
		                                </div>
		                            </div>
		                        </div>
		                 </a>
		             </li>
		             <li id="index_5" class="abs" style="border-color: rgb(167, 205, 212); left: 872px; z-index: 5; background: rgb(209, 231, 234);">
		                 <a href="" class="abs more" style="background:#265aa1;">MORE</a>
		                 <a href="" class="clear link">
		                        <div class="pic fl" style="width: 148px;">
		                        	<div class="table">
		                        		<div class="tableCell">
		                        			<img src="static/img/menu-5.png" alt="">
		                        		</div>
		                        	</div>
		                        </div>
		                        <div class="info fl">
		                            <div class="table">
		                                <div class="tableCell">
		                             <p style="color:#265aa1;">全面解析人基因变异</p>
		                             <span style="color:#265aa1;">comprehensive anlysis of variation of human genome</span>
		                                </div>
		                            </div>
		                        </div>
		                 </a>
		             </li>
		            <li id="index_6" class="abs" style="border-color: rgb(200, 208, 163); left: 1090px; z-index: 6; background: rgb(237, 243, 211);">
		                 <a href="" class="abs more" style="background:#adc93b;">MORE</a>
		                 <a href="" class="clear link">
		                        <div class="pic fl" style="width: 148px;">
		                        	<div class="table">
		                        		<div class="tableCell">
		                        			<img src="static/img/menu-6.png" alt="">
		                        		</div>
		                        	</div>
		                        </div>
		                        <div class="info fl">
		                            <div class="table">
		                                <div class="tableCell">
		                                     <p style="color:#adc93b;">解析基因密码</p>
		                                     <span style="color:#adc93b;"> analysis genetic code</span>
		                                </div>
		                            </div>
		                        </div>
		                 </a>
		             </li>
				 	</ul>
				 </div>
				 <!--基因百科-->
				 
				 <div class="zcl-olt xuslt">
				 	<div class="container">
					 	<h2 class="silco">
					 		<span>基因百科</span>
					 	</h2>
				      <ul id="appen_content">
				       <li>
				       	<a class="news-items" itemid="157">
				       		<div class="pic">
				       			<img src="static/img/gene-pic-1.jpg" width="100%">
				       		</div>
				       	</a>
				       	<div class="soltx">
				       		<a class="news-items" itemid="157">
				       			<div class="tits">什么是基因</div>
				       			<div class="con">1990年，孟德尔（Mendel）于1865年发表的论文被重新发现。他通过豌豆杂交实验，提出性状由遗传因子决定。Johannsen（1990）把孟德尔的遗传因子定名为基因（gene）。Morgan等（1916）证实基因位于细胞内的染色体上。Avery等（1944）证明，细胞所含的脱氧核糖核酸（deoxyribonuc…</div>
				       		</a>
				       	</div>
				       </li> 
				       <li>
				       	<a class="news-items" itemid="158">
				       		<div class="pic">
				       			<img src="static/img/gene-pic-2.jpg" width="100%">
				       		</div>
				       	</a>
				       	<div class="soltx">
				       		<a class="news-items" itemid="158">
				       			<div class="tits">什么是遗传物质</div>
				       			<div class="con">很久以前，人们就知道所有生命体都具备代代相传的本领。然而，生物遗传的物质基础是什么呢？或者说，什么因素决定了生物遗传呢？现代遗传学证实，脱氧核糖核酸，简称DNA，控制了生物的性状遗传（也有以核糖核酸—RNA作为遗传物质的，如部分病毒和类病毒）。</div>
				       		</a>
				       	</div>
				       </li> 
				       <li>
				       	<a class="news-items" itemid="165">
				       		<div class="pic">
				       			<img src="static/img/gene-pic-3.jpg" width="100%"></div></a><div class="soltx"><a class="news-items" itemid="165">
				       				<div class="tits">基因的结构与功能</div>
				       				<div class="con">一个细胞或病毒所携带的全部遗传信息或整套基因即基因组（genome），它包括每一条染色体和所有亚细胞器的DNA序列信息。基因（gene）则是指能产生一条肽链或功能RNA所必需的DNA片段。它包括编码区和其上下游区域，以及在编码片段间（外显子）的间断切割序列（内含子）。基因经过…</div>
				       			</a>
				       		</div>
				       </li> 
				       <li>
				       	<a class="news-items" itemid="164">
				       		<div class="pic">
				       			<img src="static/img/gene-pic-4.jpg" width="100%">
				       		</div>
				       	</a>
				       	<div class="soltx">
				       		<a class="news-items" itemid="164">
				       			<div class="tits">基因与环境</div>
				       			<div class="con">1、环境的概念环境（environment），是相对于某一主体而言的客体。对于人类而言，环境是指围绕着地球上人类的空间及其中可以直接、间接影响人类生活和发展的各种物质因素及社会因素的总体。按照人类对环境的影响程度可分为两类：（1）原生环境（primary environment）是指天然…
				       			</div>
				       		</a>
				       	</div>
				       <li>
				       	<a class="news-items" itemid="163">
				       		<div class="pic">
				       			<img src="static/img/gene-pic-5.jpg" width="100%"></div></a><div class="soltx">
				       				<a class="news-items" itemid="163">
				       					<div class="tits">基因与生命体</div>
				       					<div class="con">细胞（cell）是生物进行生命活动的基本单位。细菌、立克次体和支原体等属于原核细胞（procarytic cell），真菌、植物、动物及人体是由真核细胞（eucaryotic cell）构成。真核细胞比原核细胞进化程度高、结构复杂，最主要特征是前者含有核被膜包围的细胞核（nucleus）。真核细胞…</div>
				       				</a>
				       		</div>
				       </li>
				       <li>
				       	<a class="news-items" itemid="162">
				       		<div class="pic">
				       			<img src="static/img/gene-pic-6.jpg" width="100%">
				       		</div>
				       	</a>
				       	<div class="soltx">
				       		<a class="news-items" itemid="162">
				       			<div class="tits">基因与遗传病</div>
				       			<div class="con">随着医学遗传学的发展，人们对遗传病的认识从起初认为只是一些罕见的与遗传相关的疾病，发展到现在认为几乎所有的疾病（除创伤、战伤、烧伤、意外事故等）都与遗传有关。也就是说，“非遗传病”这一术语也许不再使用。很难设想，有哪种疾病是完完全全“与遗传因素无关”。传染…</div>
				       		</a>
				       	</div>
				       </li>
				       <li>
				       	<a class="news-items" itemid="161">
				       		<div class="pic">
				       			<img src="static/img/gene-pic-7.jpg" width="100%">
				       		</div>
				       	</a>
				       	<div class="soltx">
				       		<a class="news-items" itemid="161">
				       			<div class="tits">染色体和染色质</div>
				       			<div class="con">染色质和染色体是同一物质在不同细胞周期中的形态表现。染色质是在细胞分裂间期，细胞核中存在的、呈伸展状的DNA蛋白纤维；而染色体是在细胞分裂期呈高度螺旋化的DNA蛋白纤维，是染色质结构高度螺旋化、紧密盘绕、折叠的结果。正常男性的染色体核型为46，XY，而正常女性的染色…</div>
				       		</a>
				       	</div>
				       </li>
				       <li>
				       	<a class="news-items" itemid="247">
				       		<div class="pic">
				       			<img src="static/img/gene-pic-8.jpg" width="100%">
				       		</div>
				       	</a>
				       	<div class="soltx">
				       		<a class="news-items" itemid="247">
				       			<div class="tits">Alport 综合征</div>
				       			<div class="con">【遗传特征】        Alport综合征(Alport syndrome，AS)[OMIM 301050，203780，104200] 是一种遗传性肾小球基底膜疾病，血尿、感音神经性耳聋和进行性肾功能减退是其临床特点。该病有3 种遗传方式，即：X连锁显性遗传(XD) 、常染色体隐性遗传(AR) 和常染色体显性遗传(AD)，其…</div>
				       		</a>
				       	</div>
				       </li>
					</div> 
				</div>
			</div>
			<div class="footer">
				
			</div>
			<div class="float-sild">
			  <a href="tel:12345678" class="tel"></a>
			  <a href="#" class="go-top"></a>
			</div>
		</div>
	</body>
	<!--首页动态效果的实现-->
	<script src="js/homePage.js" type="text/javascript" charset="utf-8"></script>
	 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script>window.jQuery || document.write('<script src="static/BootStrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/BootStrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/BootStrap/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>
